// Colors
$primary-color: rgba(3, 151, 214, 1);
$primary-dark-color: rgba(0, 75, 145, 1);
$primary-light-color: rgba(134, 177, 216, 1);
$secondary-color: #edf4fa;
$default-color: rgba(49, 50, 51, 1);
$success-color: rgba(0, 146, 119, 1);


// Shadows
$primary-shadow: 5px 5px 12px rgba(3, 67, 96, 0.2);


// Font size
$font-size-h1: 60px;


// Fonts
$font-family-assistant: 'assistant', sans-serif;
$font-family-overpass: 'Overpass', sans-serif;
